
<div class="mx-auto p-2 m-5" style="width: 400px;">
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, class:"form-label" %>
  <%= f.input :content, class:"form-label" %>
  <%= f.submit "Submit", class:"btn btn-primary" %>
<% end %>
</div>
